.takenoteoneparent {
    display: flex;
    width: 40vw;
    height: 5vh;
    margin: auto;
    margin-top: 2%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px #b8b3b3;
    padding: 5px 8px 5px 8px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    cursor: pointer;
}

.textfield {
    border: none;
    outline: none;
}